body {
    background-image: linear-gradient(#F87441,#FE7779,#694367);
}

img {
    width: 100px;
    display: block;
    margin: auto;
}

.columns {
    display: flex;
    justify-content: space-evenly;
}

.Today {
    border-color: #694367;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    width: 400px;
    text-align: center;
}

.Tomorrow {
    border-color: #694367;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    width: 400px;
    text-align: center;
}

.footer{
    width: 100%;
    background-color: rgb(66, 9, 66);
    color:beige;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer a:visited{
    color:pink;
}
