body {
    background-image: linear-gradient(#F87441,#FE7779,#694367);
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(66, 9, 66);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.dropdown{
    text-align: center;
    font-size: 25px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#521e14
}

select{
    background-color:#FAB919;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    border-color: white;
    text-align: center;
}

img {
    width: 100px;
    display: block;
    margin: auto;
}

#err{
    color: rgb(88, 10, 45);
    font-size: 40px;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.sun {
    display: flex;
    justify-content: space-evenly;
}

.tsun{
    display: flex;
    justify-content: space-evenly;
}

.Today {
    border-color: #694367;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
}

.Tomorrow {
    border-color: #694367;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
}

input[type="text"] {
    border-radius: 25px;
    text-align: center;
    background-color: white;
    border-color: #722111;
    font-size: 13px;
    color: #722111;
    font-weight: bold;

}

.footer{
    width: 100%;
    background-color: rgb(66, 9, 66);
    color:beige;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer a:visited{
    color:pink;
}

.footer a{
    color:yellow;
}
